<script src="{{ url_for('static', filename='includes/jquery/js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='includes/jquery/js/jquery-ui-1.12.1.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='includes/jquery/css/jquery-ui.theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='includes/jquery/css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='includes/jquery/css/jquery-ui.structure.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='includes/bootstrap-3.3.7/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='includes/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='includes/visjs/js/vis-network.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/objectProperties.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='themes/default/default.css') }}">


<script>
    var CSRF = "{{CSRF}}"
</script>

<html>
    <head>
        
    </head>
    <body class="theme-panelContainer">
        <div class="flowchart theme-content" id="map"></div>
    </body>
</html>

<script>
    $( document ).ready(function() {
        $.ajax({url:"get/", type:"GET", success: function ( result ) {
                buildNetwork(result,"map")
            }
        });
    })
</script>

<script>
    var nodes = [];
    var edges = [];
    var network = null;

    $(document).keyup(function( event ) {
        if (event.keyCode == 46 && document.activeElement.type != "text" && document.activeElement.type != "checkbox" && document.activeElement.type != "textarea") {
            selectedNodes = network.getSelectedNodes()
            if (selectedNodes.length == 1) {
                nodes.remove({ id: selectedNodes[0] });
            }
        }
    });

    var panelRelationshipHTML = `
    <div class="propertiesPanel theme-panelContainer">
        <div class="propertiesPanel-header theme-panelHeader">
            <span class="glyphicon glyphicon glyphicon-remove" id="close"></span>
            <label id="title"></label>
        </div>
        <div class="propertiesPanel-body theme-panelBody">
        <textarea id="openRelationshipPanelValue" class="inputFullWidth theme-panelTextArea"></textarea>
        </div>
        <div class="propertiesPanel-footer theme-panelFooter">
            <button id="close" class="btn btn-primary theme-panelButton">Close</button>
        </div>
    </div>
    `

    var openLinkPanels = {}
    function openRelationshipPanel(id) {
        panelID = id
        if (!openLinkPanels.hasOwnProperty(panelID)) {
            openLinkPanels[panelID] = panelID;
            var e = window.event;
            var posX = e.clientX;
            var posY = e.clientY;
            var panel = $(panelRelationshipHTML);
            panel.css({top : posY, left : posX + 35});
            panel.draggable();
            panel.resizable({
                grid: 20
            });

            // Events
            panel.click(function () {
                $('.ui-main').find(".propertiesPanel").css("z-index", 1);
                $(this).css("z-index", 2);
            })

            panel.find("#close").click(function () { 
                delete openLinkPanels[panelID];
                panel.remove();
            })

            $.ajax({url:"/plugin/event/"+id+"/", type:"GET", success: function ( result ) {
                    panel.find("#openRelationshipPanelValue").val(JSON.stringify(result));
                }
            });

            // Applying object to UI
            $('#map').append(panel);

        }
    }

    function buildNetwork(loadData,HTMLElementID) {
        nodes = new vis.DataSet([]);
	    edges = new vis.DataSet([]);
        var mapping = {};
        var edgeMapping = {};
        var y = Math.floor(Math.random() * 1000);

        for (d in loadData["nodes"]) {
            if (!mapping.hasOwnProperty(d)) {
                id = loadData["nodes"][d]["_id"];
                nodes.add({ id: id, title: JSON.stringify(loadData["nodes"][d]["eventValues"]), label: loadData["nodes"][d]["label"], value: 1, x: loadData["nodes"][d]["x"], y: loadData["nodes"][d]["y"] });
                mapping[d] = { id :  id };
            }
        }


        for (d in loadData["edges"]) {
            a = mapping[loadData["edges"][d]["source"]]
            b = mapping[loadData["edges"][d]["target"]]

            if (a["id"] != b["id"]) {
                var key = loadData["edges"][d]["source"]+"->"+loadData["edges"][d]["target"];
                var key2 = loadData["edges"][d]["target"]+"->"+loadData["edges"][d]["source"];
                if (!edgeMapping.hasOwnProperty(key) && !edgeMapping.hasOwnProperty(key2)) {
                    edgeMapping[key] = 1;
                    edgeMapping[key2] = 1;
                    edges.add({ 
                        from: a["id"], 
                        to: b["id"],
                        id: key,
                        title: JSON.stringify(loadData["edges"][d]["matches"])
                    });
                }
            }
        }
        
        var container = document.getElementById(HTMLElementID);
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
            physics: {
                enabled: false
            },
            nodes: {
                shape: "dot",
                scaling: {
                    min: 25,
                    max: 25,
                },
                color: {
                    background: "#4090c9",
                    highlight: {
                        background: "#000",
                        border: "#FFF"
                    },
                    hover: {
                        background: "#000",
                        border: "#FFF"
                    }
                },
                shadow:{
                    enabled: true,
                    color: 'rgba(0,0,0,0.5)',
                    size:10,
                    x:5,
                    y:5
                },
                font: {
                    size: 30,
                    face: "Tahoma",
                    color: "#bfbfbf"
                }
            },
            edges: {
                width: 3,
                color: {
                    color: "#4090c9",
                    highlight: "#FFF",
                },
                smooth: {
                    type: "continuous",
                },
                arrows: {
                    to: {
                        enabled: true
                    }
                }
            }
        };
        network = new vis.Network(container, data, options);
        network.on("doubleClick", function(params) {
            if ((params["nodes"].length == 1)) {
                console.log(params["nodes"][0]);
                openRelationshipPanel(params["nodes"][0])
            }
            return true;
        });
    }
</script>
